<!DOCTYPE html>
<html>
<head>
    <title>Projet Visualisation de Données</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
        <a class="navbar-brand" href="#">Projet Visualisation de Données</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/heatmap">Heatmap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rien">Rien</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">?</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2>Home</h2>
        <img src="/images/image_3d_accidents_heures_mois.png" id="image_3d_accidents_heures_mois" alt="image_3d_accidents_heures_mois" style="width: 50%; height: auto;">
        <br> On remarque que le nombre d'accidents augmente a partir de 7h puis atteint
        <br> son pic entre 15 et 18h et enfin baisse.
        <br> Il y a plus d'accidents en juin-juillet du aux vacances.
        <br> Il y a également une augmentation du nombre d'accidents sur toute la journée
        <br> pour octobre-novembre-décembre à cause du climat. <br><br>

        <img src="/images/image_accidents_type_collisions.png" id="image_accidents_type_collisions" alt="image_accidents_type_collisions" style="width: 50%; height: auto;">
        <br> On observe que la majorité des collisions se font sur le côté de la voiture
        <br> et frontalement. <br><br>

        <div class="card">
            <h2>Filtrer par année(s)</h2>
            <form>
                <input type="radio" id="all" name="year" value="all" checked>
                <label for="all">Années 2019-2020-2021</label><br>
                <input type="radio" id="2021" name="year" value="2021">
                <label for="2021">2021</label><br>
                <input type="radio" id="2020" name="year" value="2020">
                <label for="2020">2020</label><br>
                <input type="radio" id="2019" name="year" value="2019">
                <label for="2019">2019</label><br>
            </form>
        </div>
        <div id="image-container">
            <img id="image_sexe_all" src="/images/image_sexe_all.png">
            <img id="image_sexe2021" src="/images/image_sexe2021.png" style="display: none;">
            <img id="image_sexe2020" src="/images/image_sexe2020.png" style="display: none;">
            <img id="image_sexe2019" src="/images/image_sexe2019.png"style="display: none;">
            <br> On remarque que la répartition des usagers parsexe qui ont eu un accident de change pas
            <br> au fil des années. <br><br>

            <img id="image_accidents_mois_all" src="/images/image_accidents_mois_all.png">
            <img id="image_accidents_mois_2019" src="/images/image_accidents_mois_2019.png" style="display: none;">
            <img id="image_accidents_mois_2020" src="/images/image_accidents_mois_2020.png" style="display: none;">
            <img id="image_accidents_mois_2021" src="/images/image_accidents_mois_2021.png" style="display: none;">
            <br> Le nombre d'accidents augmente beaucoup en juin-juillet et en
            <br> septembre-octobre-novembre-décembre. <br><br>
        </div>
        <script>
            const yearRadios = document.getElementsByName('year');
            const imageContainer = document.getElementById('image-container');

            yearRadios.forEach(radio => {
                radio.addEventListener('change', () => {
                    // Affiche les images sélectionnées et cache les autres
                    switch (radio.value) {
                        case '2021':
                            showImage('image_sexe2021', 'image_accidents_mois_2021');
                            break;
                        case '2020':
                            showImage('image_sexe2020', 'image_accidents_mois_2020');
                            break;
                        case '2019':
                            showImage('image_sexe2019', 'image_accidents_mois_2019');
                            break;
                        default:
                            showImage('image_sexe_all', 'image_accidents_mois_all');
                            break;
                    }
                });
            });

            // Affiche les images ayant leur id spécifié et cache les autres
            function showImage(...imageIds) {
                const images = imageContainer.getElementsByTagName('img');
                for (let i = 0; i < images.length; i++) {
                    if (imageIds.includes(images[i].id)) {
                        images[i].style.display = 'block';
                    } else {
                        images[i].style.display = 'none';
                    }
                }
            }
        </script>

        <div class="card2">
            <h2>Sommaire des graphes</h2>
            <form>
                Répartition des usagers par sexe par année(s) qui ont eu un accident : <br>
                <a href="#image_sexe_all">image_sexe_all</a> /
                <a href="#image_sexe2021">image_sexe2021</a> /
                <a href="#image_sexe2020">image_sexe2020</a> /
                <a href="#image_sexe2019">image_sexe2019</a>
                <br><br> Histogramme 3D du nombre d'accidents par heures par mois : <br>
                <a href="#image_3d_accidents_heures_mois">image_3d_accidents_heures_mois</a>
                <br><br> Type de collisions : <br>
                <a href="#image_accidents_type_collisions">image_accidents_type_collisions</a>
                <br><br> Nombre d'accidents par mois par année(s) : <br>
                <a href="#image_accidents_mois_all">image_accidents_mois_all</a> /
                <a href="#image_accidents_mois_2021">image_accidents_mois_2021</a> /
                <a href="#image_accidents_mois_2020">image_accidents_mois_2020</a> /
                <a href="#image_accidents_mois_2019">image_accidents_mois_2019</a>
            </form>
        </div>

    </div>
</body>
</html>

<style>
    body {
        background-color: #1C2833;
    }
    .bg-custom {
        background-color: #283747;
    }
    .container {
        color: white;
        margin-top: 3%;
    }

    .card {
        position: fixed;
        top: 15%;
        left: 60%;
        right: 10%;
        padding: 10px;

        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 10px;
        background-color: #283747;
    }

    .card2 {
        position: fixed;
        top: 45%;
        left: 60%;
        right: 10%;
        padding: 10px;

        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 10px; /* 5px rounded corners */
        background-color: #283747;
    }
</style>