<!DOCTYPE html>
<html>
<head>
    <title>Mon site web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
        <a class="navbar-brand" href="#">Projet Visualisation de Données</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/swagger">Swagger</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/heatmap">Heatmap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">?</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2>Home</h2>
        <img src="/images/image_sexe2021.png" alt="image_sexe2021" style="width: 50%; height: auto;">
        <img src="/images/image_sexe2020.png" alt="image_sexe2020" style="width: 50%; height: auto;">
        <img src="/images/image_sexe2019.png" alt="image_sexe2019" style="width: 50%; height: auto;">
        <img src="/images/image_3d_accidents_heures_mois.png" alt="image_3d_accidents_heures_mois" style="width: 50%; height: auto;">



        <h2>Filtrer par année</h2>
        <form>
            <input type="radio" id="all" name="year" value="all" checked>
            <label for="all">Années 2019-2020-2021</label><br>
            <input type="radio" id="2019" name="year" value="2019">
            <label for="2019">2019</label><br>
            <input type="radio" id="2020" name="year" value="2020">
            <label for="2020">2020</label><br>
            <input type="radio" id="2021" name="year" value="2021">
            <label for="2021">2021</label><br>
        </form>
        <div id="image-container">
            <img id="all-image" src="/images/image_accidents_mois_all.png">
            <img id="2019-image" src="/images/image_accidents_mois_2019.png" style="display: none;">
            <img id="2020-image" src="/images/image_accidents_mois_2020.png" style="display: none;">
            <img id="2021-image" src="/images/image_accidents_mois_2021.png" style="display: none;">
        </div>
        <script>
            const yearRadios = document.getElementsByName('year');
            const imageContainer = document.getElementById('image-container');

            yearRadios.forEach(radio => {
                radio.addEventListener('change', () => {
                    // Affiche l'image sélectionné et cache les autres
                    switch (radio.value) {
                        case '2019':
                            showImage('2019-image');
                            break;
                        case '2020':
                            showImage('2020-image');
                            break;
                        case '2021':
                            showImage('2021-image');
                            break;
                        default:
                            showImage('all-image');
                            break;
                    }
                });
            });

            // Affiche l'image ayant l'id spécifié et cache les autres
            function showImage(imageId) {
                const images = imageContainer.getElementsByTagName('img');
                for (let i = 0; i < images.length; i++) {
                    if (images[i].id === imageId) {
                        images[i].style.display = 'block';
                    } else {
                        images[i].style.display = 'none';
                    }
                }
            }
        </script>
    </div>
</body>
</html>

<style>
    body {
        background-color: #1C2833;
    }
    .bg-custom {
        background-color: #283747;
    }
    .container {
        color: white;
        margin-top: 3%;
    }
</style>